<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=print, initial-scale=1.0"/>
        <script src="../../common/lib/canvas/canvasjs.min.js" type="text/javascript"></script>
        <!-- Common library for mobile-->
        <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              type="text/css"/>
        <script src="../../common/lib/angular/angular.js" type="text/javascript"></script>
        <script src="../../common/lib/angular-translate/dist/angular-translate.js"
                type="text/javascript"></script>
        <script src="../../common/lib/angular-translate-loader-partial/angular-translate-loader-partial.min.js"
                type="text/javascript"></script>
        <!-- Common JS and CSS mobile-->
        <script src="../../common/js/common-angular-app.js" type="text/javascript"></script>
        <script src="../../common/i18n/en.translation.js" type="text/javascript"></script>
        <script src="../../common/js/pdf_quotation.js" type="text/javascript"></script>
        <script src="../../common/lib/loader-static-files/angular-translate-loader-static-files.js"
                type="text/javascript"></script>
        <script src="../../common/lib/moment/moment.js" type="text/javascript"></script>
        <link href="../../common/css/segoeui-font.css" rel="stylesheet" type="text/css">
        <link href="../../common/css/custom.css" rel="stylesheet" type="text/css">
        <link href="../../common/css/pdf_quotation.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-app="mainApp" ng-controller="Ctrl" class="body-new">
        <table width="100%">
            <thead class="header-space">
                <tr>
                    <td>
                        <header>
                            <div class="head-new">
                                <img class="header-img" src="../../common/images/misr-logo-3.png" alt=""/>
                            </div>
                        </header>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="page none-border">
                            <!--start summary information-->
                            <table class="format-table-all-new none-border arabic-style">
                                <tr>
                                    <td style="width:21%;font-size:10pt;">{{data.productCurrencyCase}}</td>
                                    <td style="width:18%;font-size:10pt;"> : طلب التأمين رقم</td>
                                    <td style="width:38%;font-size:12pt;">{{data.benefitIllustrationTable.productName}}
                                    </td>
                                    <td style="width:21%;font-weight:bold;font-size:12pt;">عرض اسعار وثيقة</td>
                                </tr>
                                <tr style="font-size:10pt;">
                                    <td>
                                        <span dir="{{data.quotation.metaData.language == 'en' ? 'ltr' : 'rtl'}}" ng-if="data.currentRole == 'AG'">{{data.caseData.agentInfo.agentBranchName != null ? data.caseData.agentInfo.agentBranchName : "N/A"}}</span>
                                        <span dir="{{data.quotation.metaData.language == 'en' ? 'ltr' : 'rtl'}}" ng-if="data.currentRole == 'BA'">{{data.quotation.basicPlan.information.bankBranchName}}</span>
                                    </td>
                                    <td> : الفرع</td>
                                </tr>
                                <tr style="font-size:10pt;">
                                    <td ng-repeat="item in data.account.profile.insurerProfiles" ng-if="item.role === data.quotation.metaData.businessProfile">{{data.currentRole == "BA" ? "MLI / HO" : item.regionName}}</td>
                                    <td> : المنطقة</td>
                                </tr>
                                <tr style="font-size:10pt;">
                                    <td>{{getCurrentDate() | date:'dd/MM/yyyy'}}</td>
                                    <td> : تحريراً في</td>
                                </tr>
                            </table>
                            <!--end summary information-->

                            <hr class="hr-new">

                            <!--start policy owner information-->
                            <table class="format-table-all-new format-table-all-new-inv arabic-style">
                                <tr class="table-header-green white-text-color text-align-center">
                                    <td colspan="4" style="width:100%;">بيانات المتعاقد</td>
                                </tr>
                                <tr class="table-content non-top-border">
                                    <td style="width:35%;direction:rtl;">
                                        <span>{{data.quotation.policyOwner.person.age}}</span>
                                        <span>سنة</span>
                                    </td>
                                    <td style="width:15%;">السن</td>
                                    <td style="width:35%;">{{data.quotation.policyOwner.person.name.full}}</td>
                                    <td style="width:15%;">الاسم</td>
                                </tr>
                                <tr class="table-content">
                                    <td>{{data.benefitIllustrationTable.poGender}}
                                    </td>
                                    <td>النوع</td>
                                    <td>{{data.quotation.policyOwner.person.birthDate | date:'dd/MM/yyyy'}}</td>
                                    <td>تاريخ الميلاد</td>
                                </tr>
                            </table>
                            <!--end policy owner information-->

                            <!-- start Your Plan Details-->
                            <table class="format-table-all-new format-table-all-new-inv arabic-style">
                                <tr class="table-header-black white-text-color text-align-right">
                                    <td colspan="6" style="width:100%;">بيانات عرض الاسعار</td>
                                </tr>
                                <tr class="table-header-green white-text-color text-align-center">
                                    <td class="table-border-white" width="17%">دورية السداد</td>
                                    <td class="table-border-white" width="12%">مدة سداد الاقساط</td>
                                    <td class="table-border-white" width="12%">مدة التأمين</td>
                                    <td class="table-border-white" width="17%">بدء التأمين</td>
                                    <td class="table-border-white" style="width:17%; direction:rtl;">
                                        <span>مبلغ التأمين</span><br>
                                        <span>({{data.benefitIllustrationTable.billingCurrency}})</span>
                                    </td>
                                    <td width="20%">اسم الوثيقة</td>
                                </tr>
                                <tr style="border-bottom: 2px solid #0fb273;" class="table-content non-top-border text-align-center">
                                    <td style="border-left: 2px solid #0fb273; border-bottom: 2px solid #0fb273;">{{data.benefitIllustrationTable.frequency}}</td>
                                    <td style="border-bottom: 2px solid #0fb273;">{{data.quotation.basicPlan.information.premiumTerm}}</td>
                                    <td style="border-bottom: 2px solid #0fb273;">{{data.quotation.basicPlan.information.policyTerm}}</td>
                                    <td style="border-bottom: 2px solid #0fb273;">{{data.quotation.basicPlan.information.riskCommencementDate | date:'dd/MM/yyyy'}}</td>
                                    <td style="word-break: break-all; border-bottom: 2px solid #0fb273;">{{data.quotation.basicPlan.information.sumAssured | number: 2}}</td>
                                    <td style="border-right: 2px solid #0fb273; border-bottom: 2px solid #0fb273;">{{data.benefitIllustrationTable.productName}}</td>
                                </tr>
                            </table>
                            <!-- end Your Plan Details-->

                            <!--start life insured information-->
                            <table class="format-table-all-new format-table-all-new-inv arabic-style">
                                <tr class="table-header-green white-text-color text-align-center">
                                    <td colspan="4" style="width:100%;">ببيانات المؤمن عليهم المنتفعين</td>
                                </tr>
                                <tr style="font-weight: bold;" class="table-content non-top-border green-border">
                                    <td style="width:20%;direction:rtl;">صلة القرابة للمتعاقد</td>
                                    <td style="width:20%;">الرقم القومي</td>
                                    <td style="width:20%;">تاريخ الميلاد</td>
                                    <td style="width:40%;">اسم المؤمن عليه</td>
                                </tr>
                                <tr class="table-content green-border" ng-repeat="item in data.benefitIllustrationTable.lifeInsureds">
                                    <td style="width:20%;direction:rtl;">{{item.relationship}}</td>
                                    <td style="width:20%;">{{item.idNumber}}</td>
                                    <td style="width:20%;">
                                        {{item.birthDate | date:'dd/MM/yyyy'}}
                                    </td>
                                    <td style="width:40%; font-weight: bold;">{{(item.firstName != null && item.firstName != "") ? item.firstName + ' ' + item.lastName : item.lastName}}</td>
                                </tr>
                            </table>
                            <!--end life insured information-->



                            <table class="format-table-all-new format-table-all-new-inv arabic-style avoid-break-inside format-table-layout-fixed">
                                <tr class="table-header-black white-text-color text-align-center">
                                    <td colspan="8" style="width:100%;  ">إجمالي القسط التأميني السنوي للوثيقة </td>
                                </tr>
                                <tr class="table-header-green white-text-color text-align-center non-bottom-border">
                                    <td class="table-border-white" width="15%">
                                        <span ng-if="data.quotation.basicPlan.information.premiumFrequency == 'S'">اجمالي القسط</span>
                                        <span ng-if="data.quotation.basicPlan.information.premiumFrequency != 'S'">اجمالي القسط الاول</span>
                                    </td>
                                    <td class="table-border-white" width="10%">مصاريف الاصدار</td>
                                    <td class="table-border-white" width="10%">الدمغة النوعية</td>
                                    <td class="table-border-white" width="15%">صندوق ضمان حملة الوثائق</td>
                                    <td class="table-border-white" width="13%">رسم خدمات هيئة الرقابة المالية</td>
                                    <td class="table-border-white" width="13%">رسوم الاشراف والرقابة</td>
                                    <td class="table-border-white" width="10%">الدمغة  النسبية</td>
                                    <td class="table-border-white" style="border-right: 2px solid #0fb273 !important;">
                                        <span ng-if="data.quotation.basicPlan.information.premiumFrequency == 'S'">صافي القسط</span>
                                        <span ng-if="data.quotation.basicPlan.information.premiumFrequency != 'S'">القسط</span>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border text-align-center">
                                    <td>{{data.quotation.payableAmount | number : 2}}</td>
                                    <td>{{data.quotation.issuanceFees | number : 2}}</td>
                                    <td>{{data.quotation.stamp | number : 2}}</td>
                                    <td>{{data.quotation.policyHolderGuaranteedFund | number : 2}}</td>
                                    <td>{{data.quotation.efsaServiceFees | number : 2}}</td>
                                    <td>{{data.quotation.efsaFees | number : 2}}</td>
                                    <td>{{data.quotation.tax | number : 2}}</td>
                                    <td>{{data.quotation.firstPremiumPayable | number : 2}}</td>
                                </tr>
                            </table>

                            <!--start product summary-->
                            <table class="format-table-all-new format-table-all-new-inv arabic-style avoid-break-inside">
                                <tr class="table-header-black white-text-color text-align-right">
                                    <td style="width:100%;">ملخص للشروط العامة والمزايا التأمينية</td>
                                </tr>
                                <tr class="table-header-green white-text-color">
                                    <td>المزايا التأمينية</td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">1.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">برنامج  ( ابن سينا –  Ibn Sina)  هو برنامج تأمين طبي فردي أعدته شركة مصر لتأمينات الحياة ليكون مخصص للأفراد و  العائلات.</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="padding-bottom: 1rem; vertical-align: top; border: none!important">2.</td>
                                                <td style="padding-right: 1em; border: none!important">بموجب هذا العقد  ومقابل سداد قسط التأمين المستحق  فى موعده ، تتعهد شركة مصر لتأمينات الحياة  بتغطية كافة الخدمات  الطبية المعتادة و المألوفة و المعقولة و المصاريف المتعلقة بها و التي قد يتكبدها المؤمن عليه ضمن هذا البرنامج الطبي خلال مدة سريان هذة الوثيقة ووفقا لاحكامها و شروطها وحدود تغطيتها و إستثناءاتها .</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">3.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">البرنامج مخصص للمصريين و الأجانب المقيمين فى جمهورية مصر العربية .</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">4.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج العلاج خارج جمهورية مصر العربية فى الحالات الطارئة فقط أثناء العطلات أو رحلات العمل التى لا تزيد مدتها عن 30 يوم  متصلة للرحلة الواحدة  وذلك بنظام الإسترداد النقدي طبقا لإسعار التعاقد مع الشبكة الطبية المعتمدة للشركة داخل مصر .</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">5.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج  نفقات العلاج  الطبي  داخل المستشفيات و العيادات الخارجية بها</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">6.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج علاج الحوادث الشخصية التى تصيب المؤمن عليه أثناء سريان التأمين</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">7.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج الشرائح والتركيبات الخارجية الناتجة عن حادث خلال سريان الوثيقة التأمينية</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">8.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج عمليات زرع الأعضاء ( بإستثناء تكلفة العضو  نفسه وتكلفة  فحوصات المتبرع)  بعد مرور 12 شهر من تاريخ الإلتحاق بالتأمين .</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">9.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج عمليات القلب المفتوح و الدعامات و الصمامات و القساطر</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">10.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج العمليات الجراحية الكبري</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">11.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج تكلفة علاج الأورام السرطانية</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">12.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج علاج الحالات السابقة و الأمراض المزمنة و الحالات الحرجة بعد مرور 12 شهر من تاريخ الإلتحاق بالتأمين</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">13.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">يغطي هذا البرنامج نفقات علاج الأسنان منذ اليوم الأول  لسريان التغطية التأمينية</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">14.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">برنامج ( ابن سينا - Ibn Sina )  تخدمة شبكة طبية من  أكفأ الأطباء و المتخصصين تغطي كافة أنحاء جمهورية مصر العربية</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">15.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">البرنامج يتيح التأمين على الأشخاص الذين يتراوح أعمارهم من 0 يوم حتى 64 سنة</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-right: 2em" dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="vertical-align: top; border: none!important">16.</td>
                                                <td style="padding-bottom: 1rem; padding-right: 1em; border: none!important">برنامج ( ابن سينا - Ibn Sina )  يحتوي على  على خمس برامج تأمينية كما يلي :</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border non-bottom-border table-content-note">
                                    <td style="padding-bottom: 1rem; padding-right: 5em" dir="rtl">
                                        <ul class="list-style-arrow">
                                            <li>البرنامـــــــــــــــــــــــــــــج الماسي : تغطية 300.000 جنية مصري في غرفة أولى ممتازة داخل الشبكة الطبية</li>
                                            <li>البرنامج البلاتنيوم : تغطية 200.000 جنية مصري في غرفة أولى ممتازة داخل الشبكة الطبية</li>
                                            <li>البرنامـــــــــــــــــــــج الذهبي : تغطية 150.000 جنية مصري في غرفة أولى ممتازة  داخل الشبكة الطبية</li>
                                            <li>البرنامـــــــــــــــــج الفضي : تغطية 100.000 جنية مصري في غرفة أولى ممتازة  داخل الشبكة الطبية</li>
                                            <li>البرنامــــــــج البرونزي : تغطية 50.000 جنية مصري في غرفة أولى ممتازة  داخل الشبكة الطبية</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="table-content non-top-border table-content-note">
                                    <td dir="rtl">
                                        <table>
                                            <tr>
                                                <td style="padding-bottom: 1rem; border: none!important">طبقا لدليل حماية المتعاملين في القطاع المالي غير المصرفي الوارد من الهيئة العامة للرقابة المالية يحق للمتعاقد فسخ التعاقد خلال فترة السماح 10 ايام عمل من تاريخ اصدار الوثيقة واسترداد قيمة الاقساط المدفوعة بعد خصم مصاريف الاصدار  ان وجدت (شرط عدم إستلام المتعاقد الكارنيهات الطبية الخاصة به أو بعائلته ).</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                           <!-- <table class="format-table-all-new  arabic-style avoid-break-inside">
                                <tr class="table-header-green-che white-text-color">
                                    <td>ملخص الشروط العامة للبرنامج التأميني</td>
                                </tr>
                                <tr class="table-content non-top-border">
                                    <td></br></br></br></br></td>
                                </tr>
                                <tr class="table-content non-top-border">
                                    <td>
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="border: none !important; float: left;">
                                                    <div style="border-radius: 100%; border: 2px solid; width: 19px; height: 15px;"></div>
                                                </td>
                                                <td dir="rtl" style="border: none !important">إطلعت  وموافق علي الشروط العامة .</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>-->
                            <!--end product summary-->


                            <!--start signature-->
                            <table class="format-table-all-new format-table-all-new-inv format-table-layout-fixed arabic-style avoid-break-inside">
                                <tr class="table-header-black white-text-color text-align-center">
                                    <td style="border-right: 2px solid white !important;">مسوق التأمين</td>
                                    <td style="border-right: 2px solid white !important;"></td>
                                    <td>المؤمن عليه المتعاقد</td>
                                </tr>
                                <tr class="table-content non-top-border text-align-center">
                                    <td>
                                        <span ng-if="data.licenseFlag == 'true'">{{data.account.fullName}}</span>
                                        <span ng-if="data.licenseFlag != 'true'">{{data.managerName}}</span>
                                    </td>
                                    <td></td>
                                    <td>{{data.quotation.policyOwner.person.name.full}}</td>
                                </tr>
                                <tr style="height:90px;" class="table-content text-align-center">
                                    <td></br></td>
                                    <td></br></td>
                                    <td></br></td>
                                </tr>
                            </table>
                            <!--end signature-->
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <footer>
                            <div class="foot">
                                <img class="foot-img" src="../../common/images/misr-footer1.png" alt=""/>
                            </div>
                        </footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>