<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=print, initial-scale=1.0"/>
        <script src="../../common/lib/canvas/canvasjs.min.js" type="text/javascript"></script>
        <!-- Common library for mobile-->
        <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              type="text/css"/>
        <script src="../../common/lib/angular/angular.js" type="text/javascript"></script>
        <script src="../../common/lib/angular-translate/dist/angular-translate.js"
                type="text/javascript"></script>
        <script src="../../common/lib/angular-translate-loader-partial/angular-translate-loader-partial.min.js"
                type="text/javascript"></script>
        <!-- Common JS and CSS mobile-->
        <script src="../../common/js/common-angular-app.js" type="text/javascript"></script>
        <script src="../../common/i18n/en.translation.js" type="text/javascript"></script>
        <script src="../../common/js/pdf_quotation.js" type="text/javascript"></script>
        <script src="../../common/lib/loader-static-files/angular-translate-loader-static-files.js"
                type="text/javascript"></script>
        <script src="../../common/lib/moment/moment.js" type="text/javascript"></script>
        <link href="../../common/css/segoeui-font.css" rel="stylesheet" type="text/css">
        <link href="../../common/css/custom.css" rel="stylesheet" type="text/css">
        <link href="../../common/css/pdf_quotation.css" rel="stylesheet" type="text/css">
    </head>

    <body ng-app="mainApp" ng-controller="Ctrl" class="body-new">
        <table width="100%">
            <thead class="header-space">
            <tr>
                <td>
                    <header>
                        <div class="head-new">
                            <img class="header-img" src="../../common/images/misr-logo-3.png" alt=""/>
                        </div>
                    </header>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="page none-border">

                        <!--start summary information-->
                        <table class="format-table-all-new none-border arabic-style">
                            <tr>
                                <td style="width:21%;font-size:10pt;">{{data.productCurrencyCase}}</td>
                                <td style="width:18%;font-size:10pt;"> : طلب التأمين رقم</td>
                                <td dir="rtl" style="width:38%;font-size:12pt;">{{data.benefitIllustrationTable.productName}}
                                </td>
                                <td style="width:21%;font-weight:bold;font-size:12pt;">عرض اسعار وثيقة</td>
                            </tr>
                            <tr style="font-size:10pt;">
                                <td>
                                    <span dir="{{data.quotation.metaData.language == 'en' ? 'ltr' : 'rtl'}}" ng-if="data.currentRole == 'AG'">{{data.caseData.agentInfo.agentBranchName != null ? data.caseData.agentInfo.agentBranchName : "N/A"}}</span>
                                    <span dir="{{data.quotation.metaData.language == 'en' ? 'ltr' : 'rtl'}}" ng-if="data.currentRole == 'BA'">{{data.quotation.basicPlan.information.bankBranchName}}</span>
                                </td>
                                <td> : الفرع</td>
                            </tr>
                            <tr style="font-size:10pt;">
                                <td ng-repeat="item in data.account.profile.insurerProfiles" ng-if="item.role === data.quotation.metaData.businessProfile">{{data.currentRole == "BA" ? "MLI / HO" : item.regionName}}</td>
                                <td> : المنطقة</td>
                            </tr>
                            <tr style="font-size:10pt;">
                                <td>{{getCurrentDate() | date:'dd/MM/yyyy'}}</td>
                                <td> : تحريراً في</td>
                            </tr>
                        </table>
                        <!--end summary information-->

                        <hr class="hr-new">

                        <!--start agent information-->
                        <table class="format-table-all-new arabic-style">
                            <tr class="table-header-green white-text-color text-align-center">
                                <td colspan="4" style="width:100%;">بيانات مسوق التأمين</td>
                            </tr>
                            <tr class="table-content non-top-border">
                                <td style="width:35%;" ng-if="data.licenseFlag == 'true'">
                                    {{data.account.email}}
                                </td>
                                <td style="width:35%;" ng-if="data.licenseFlag != 'true'">
                                    {{data.managerEmail}}
                                </td>
                                <td style="width:15%;">الايميل</td>
                                <td style="width:35%;" ng-if="data.licenseFlag == 'true'">
                                    {{data.account.fullName}}
                                </td>
                                <td style="width:35%;" ng-if="data.licenseFlag != 'true'">
                                    {{data.managerName}}
                                </td>
                                <td style="width:15%;">الاسم</td>
                            </tr>
                            <tr class="table-content">
                                <td ng-if="data.licenseFlag == 'true'">{{data.account.phoneNumber}}</td>
                                <td ng-if="data.licenseFlag != 'true'">{{data.managerMobile}}</td>
                                <td>الموبايل</td>
                                <td ng-if="data.licenseFlag == 'true'">
                                        <span ng-repeat="item in data.account.profile.insurerProfiles"
                                              ng-if="item.role === data.quotation.metaData.businessProfile">{{item.licenseNumber != "" ? item.licenseNumber : "N/A"}}</span>
                                </td>
                                <td ng-if="data.licenseFlag != 'true'">{{data.managerLicense != "" ? data.managerLicense : "N/A"}}</td>
                                <td>كود الهيئة</td>
                            </tr>
                        </table>
                        <!--end agent information-->

                        <!--start policy owner information-->
                        <table class="format-table-all-new arabic-style">
                            <tr class="table-header-green white-text-color text-align-center">
                                <td colspan="4" style="width:100%;">بيانات المتعاقد</td>
                            </tr>
                            <tr class="table-content non-top-border">
                                <td style="width:35%;direction:rtl;">
                                    <span>{{data.quotation.policyOwner.person.age}}</span>
                                    <span>سنة</span>
                                </td>
                                <td style="width:15%;">السن</td>
                                <td style="width:35%;">{{data.quotation.policyOwner.person.name.full}}</td>
                                <td style="width:15%;">الاسم</td>
                            </tr>
                            <tr class="table-content">
                                <td>{{data.benefitIllustrationTable.poGender}}</td>
                                <td>النوع</td>
                                <td>{{data.quotation.policyOwner.person.birthDate | date:'dd/MM/yyyy'}}</td>
                                <td>تاريخ الميلاد</td>
                            </tr>
                        </table>
                        <!--end policy owner information-->

                        <!--start life insured information-->
                        <table class="format-table-all-new arabic-style">
                            <tr class="table-header-green white-text-color text-align-center">
                                <td colspan="4" style="width:100%;">بيانات المؤمن عليه</td>
                            </tr>
                            <tr class="table-content non-top-border">
                                <td style="width:35%;direction:rtl;">
                                    <span>{{data.quotation.lifeInsured[0].person.age}}</span>
                                    <span>سنة</span>
                                </td>
                                <td style="width:15%;">السن</td>
                                <td style="width:35%;">{{data.quotation.lifeInsured[0].person.name.full}}
                                </td>
                                <td style="width:15%;">الاسم</td>
                            </tr>
                            <tr class="table-content">
                                <td>{{data.benefitIllustrationTable.liGender}}</td>
                                <td>النوع</td>
                                <td>{{data.quotation.lifeInsured[0].person.birthDate | date:'dd/MM/yyyy'}}
                                </td>
                                <td>تاريخ الميلاد</td>
                            </tr>
                            <tr class="table-content">
                                <td dir="rtl">{{data.occupationValueLI}}</td>
                                <td>المهنة</td>
                                <td>{{data.benefitIllustrationTable.liSmokingStatus}}</td>
                                <td>حالة التدخين</td>
                            </tr>
                            <tr class="table-content">
                                <td colspan="2">{{data.benefitIllustrationTable.relationship}}</td>
                                <td colspan="2">علاقة المؤمن عليه بالمتعاقد</td>
                            </tr>
                        </table>
                        <!--end life insured information-->

                        <!-- start Your Plan Details-->
                        <table class="format-table-all-new arabic-style">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td colspan="7" style="width:100%;">بيانات عرض الاسعار</td>
                            </tr>
                            <tr class="table-header-green white-text-color text-align-center">
                                <td class="table-border-white" width="15%">دورية تناقص مبلغ التامين</td>
                                <td class="table-border-white">دورية السداد</td>
                                <td class="table-border-white" width="10%">مدة سداد الاقساط</td>
                                <td class="table-border-white" width="10%">مدة التأمين</td>
                                <td class="table-border-white">بدء التأمين</td>
                                <td class="table-border-white" style="direction:rtl; width:13%">
                                    <span>مبلغ التأمين</span><br>
                                    <span>({{data.benefitIllustrationTable.billingCurrency}})</span>
                                </td>
                                <td>اسم الوثيقة</td>
                            </tr>
                            <tr class="table-content non-top-border text-align-center">
                                <td>
                                    <span ng-if="data.quotation.basicPlan.loanDetails.sumAssuredDecreasingFrequency != null">{{data.benefitIllustrationTable.decreasingFrequency}}</span>
                                    <span ng-if="data.quotation.basicPlan.loanDetails.sumAssuredDecreasingFrequency == null">N.A</span>
                                </td>
                                <td>
                                    <span ng-if="data.quotation.basicPlan.information.premiumFrequency != null">{{data.benefitIllustrationTable.frequency}}</span>
                                    <span ng-if="data.quotation.basicPlan.information.premiumFrequency == null">N.A</span>
                                </td>
                                <td>
                                    <span ng-if="data.quotation.basicPlan.information.premiumTerm != null">{{data.quotation.basicPlan.information.premiumTerm}}</span>
                                    <span ng-if="data.quotation.basicPlan.information.premiumTerm == null">N.A</span>
                                </td>
                                <td>
                                    <span ng-if="data.quotation.basicPlan.information.policyTerm != null">{{data.quotation.basicPlan.information.policyTerm}}</span>
                                    <span ng-if="data.quotation.basicPlan.information.policyTerm == null">N.A</span>
                                </td>
                                <td>
                                    <span ng-if="data.quotation.basicPlan.information.riskCommencementDate != null">{{data.quotation.basicPlan.information.riskCommencementDate | date:'dd/MM/yyyy'}}</span>
                                    <span ng-if="data.quotation.basicPlan.information.riskCommencementDate == null">N.A</span>
                                </td>
                                <td>
                                    <span ng-if="data.quotation.basicPlan.information.sumAssured != null">{{data.quotation.basicPlan.information.sumAssured | number: 2}}</span>
                                    <span ng-if="data.quotation.basicPlan.information.sumAssured == null">N.A</span>
                                </td>
                                <td>
                                    <span dir="rtl" ng-if="data.quotation.metaData.productName != null">{{data.benefitIllustrationTable.productName}}</span>
                                    <span ng-if="data.quotation.metaData.productName == null">N.A</span>
                                </td>
                            </tr>
                        </table>
                        <!-- end Your Plan Details-->

                        <table ng-if="data.quotation.riders.length > 0" class="format-table-all-new format-table-layout-fixed arabic-style">
                            <tbody class="avoid-break-inside">
                            <tr colspan="5" class="non-bottom-border table-header-green white-text-color text-align-center">
                                <td class="table-border-white" style="width:15%">مدة سداد الاقساط</td>
                                <td class="table-border-white" style="width:15%">مدة التأمين</td>
                                <td class="table-border-white" style="width:15%">بدء التأمين</td>
                                <td class="table-border-white" style="direction:rtl; width:15%;">
                                    <span>مبلغ التأمين</span><br>
                                    <span>({{data.benefitIllustrationTable.billingCurrency}})</span>
                                </td>
                                <td style="width:40%">التأمينات الاضافية</td>
                            </tr>
                            <tr ng-repeat="item in data.benefitIllustrationTable.biRiders" class="table-content text-align-center">
                                <td>{{item.premiumTerm}}</td>
                                <td>{{item.riderTerm}}</td>
                                <td>{{data.quotation.basicPlan.information.riskCommencementDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.sumAssured | number: 2}}</td>
                                <td>{{item.riderName =='TPDR' ? 'التأمين ضد خطر الاصابة بالعجز الكامل المستديم' : item.arRiderName}}</td>
                            </tr>
                            </tbody>
                        </table>

                        <!-- start Loan Details-->
                        <table class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside">
                            <tr class="table-header-green white-text-color text-align-center">
                                <td class="table-border-white" style="width:33%">دورية سداد القرض</td>
                                <td class="table-border-white" style="width:33%">مدة القرض</td>
                                <td style="width:34%">مبلغ القرض</td>
                            </tr>
                            <tr class="table-content non-top-border text-align-center">
                                <td>{{data.benefitIllustrationTable.loanPaymentFrequency}}</td>
                                <td>{{ data.quotation.basicPlan.loanDetails.loanTerm }}</td>
                                <td>{{ data.quotation.basicPlan.loanDetails.loanAmount | number : 2 }}</td>
                            </tr>
                        </table>
                        <!-- end Loan Details-->

                        <!-- Start summary premium information-->
                        <table class="format-table-all-new arabic-style avoid-break-inside">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td colspan="8" style="text-align: center; width:100%;">بيانات القسط الوحيد</td>
                            </tr>
                            <tr class="table-header-green white-text-color text-align-center non-bottom-border">
                                <td class="table-border-white" width="15%">اجمالي القسط الوحيد</td>
                                <td class="table-border-white" width="10%">مصاريف الاصدار</td>
                                <td class="table-border-white" width="10%">الدمغة النوعية</td>
                                <td class="table-border-white" width="15%">صندوق ضمان حملة الوثائق</td>
                                <td class="table-border-white" width="13%">خدمات اعتماد وتعديل وثائق</td>
                                <td class="table-border-white" width="13%">رسوم الاشراف والرقابة</td>
                                <td class="table-border-white" width="10%">الدمغة النسبية</td>
                                <td>القسط الوحيد</td>
                            </tr>
                            <tr class="table-content non-top-border text-align-center">
                                <td>{{data.quotation.payableAmount | number : 2}}</td>
                                <td>{{data.quotation.issuanceFees | number : 2}}</td>
                                <td>{{data.quotation.stamp | number : 2}}</td>
                                <td>{{data.quotation.policyHolderGuaranteedFund | number : 2}}</td>
                                <td>{{data.quotation.efsaServiceFees | number : 2}}</td>
                                <td>{{data.quotation.efsaFees | number : 2}}</td>
                                <td>{{data.quotation.tax | number : 2}}</td>
                                <td>{{data.quotation.firstPremiumPayable | number : 2}}</td>
                            </tr>
                        </table>
                        <!-- End summary premium information-->

                        <!-- Start BENEFIT ILLUSTRATION TABLE-->
                        <table class="format-table-all-new format-table-layout-fixed arabic-style">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td colspan="5" style="width:100%;">جدول لتناقص مبلغ التامين ومبلغ القرض كل سنه من مده سداد القرض</td>
                            </tr>
                            <tr class="table-header-green white-text-color text-align-center non-bottom-border">
                                <td class="table-border-white">مبلغ القرض المتناقص</td>
                                <td class="table-border-white">مبلغ التامين المتناقص</td>
                                <td class="table-border-white">القسط الوحيد</td>
                                <td class="table-border-white">السن</td>
                                <td>سنة</td>
                            </tr>
                            <tr class="table-content" ng-repeat="item in data.benefitIllustrationTable.benefitIllustration.benefitIllustrationTable">
                                <td class="text-align-center">{{ item.loadAmountDecreased | number: 2 }}</td>
                                <td class="text-align-center">{{item.sumassuredDecreased | number : 2}}</td>
                                <td class="text-align-center" ng-if="$index == 0" class="word-break" rowspan="0">{{item.annualAmount | number : 2}}</td>
                                <td class="text-align-center">{{item.age}}</td>
                                <td class="text-align-center">{{item.year}}</td>
                            </tr>
                        </table>
                        <table class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside" ng-if="data.quotation.basicPlan.loanDetails.loanPaymentFrequency == 'M'">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td colspan="3" style="width:100%;">جدول لتناقص مبلغ التامين ومبلغ القرض كل شهر خلال كل سنه من مده سداد القرض</td>
                            </tr>
                            <tr class="table-header-green white-text-color text-align-center non-bottom-border">
                                <td class="table-border-white" style="width:33%">مبلغ القرض المتناقص</td>
                                <td class="table-border-white" style="width:33%">تناقص مبلغ التامين</td>
                                <td style="width:34%">شهور اخر سنة من مدة سداد القرض</td>
                            </tr>
                            <tr  class="table-content" ng-repeat="item in data.benefitIllustrationTable.benefitIllustration_2.benefitIllustrationTable_2">
                                <td class="text-align-center">{{ item.loadAmountDecreasing | number: 2 }}</td>
                                <td class="text-align-center">{{item.sumAssuredDecreasing | number : 2}}</td>
                                <td class="text-align-center">{{item.year}}</td>
                            </tr>
                        </table>
                        <!-- End BENEFIT ILLUSTRATION TABLE-->

                        <!--start product summary-->
                        <table style="margin-bottom:-8px !important;" class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside">
                            <tbody class="avoid-break-inside">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td style="width:100%;">ملخص للشروط العامة ومزايا الوثيقة</td>
                            </tr>
                            <tr class="table-header-green white-text-color">
                                <td>المزايا التأمينية</td>
                            </tr>
                            <tr class="table-content non-top-border non-bottom-border">
                                <td  dir="rtl" style="padding-top:6px;">تتعهد شركة مصر لتأمينات الحياة بما يلي :</td>
                            </tr>
                            <tr class="table-content non-top-border non-bottom-border">
                                <td style="padding-bottom:6px;" dir="rtl">حالة وفاة المؤمن عليه (لاقدر الله) خلال مدة التامين يسدد رصيد القرض المستحق للبنك دفعة واحدة خلال مدة سداد القرض.</td>
                            </tr>
                            <tr class="table-content non-top-border non-bottom-border">
                                <td style="padding-bottom:6px;" dir="rtl">هذا العرض مجرد دليل ويجب قراءاته بالاضافة الي وثيقة التأمين والتي تشمل توضيح لشروط وأحكام المزايا الملحقة بالوثيقة.</td>
                            </tr>
                            <tr class="table-content non-top-border non-bottom-border ">
                                <td dir="rtl" style="padding-top:0px;padding-bottom: 2px;">لايمثل هذا العرض قبولا من شركة مصر لتأمينات الحياة ويسرى القبول فقط بعد سداد القسط بالكامل واتمام الاكتتاب بما يتوافق مع سياسة الشركة.</td>
                            </tr>
                            <tr class="table-content non-top-border non-bottom-border ">
                                <td dir="rtl" style="padding-top:0px;padding-bottom: 2px;">طبقا لدليل حماية المتعاملين في القطاع المالي غير المصرفي الوارد من الهيئة العامة للرقابة المالية يحق للمتعاقد فسخ التعاقد خلال فترة السماح 10 ايام عمل من تاريخ اصدار الوثيقة واسترداد قيمة الاقساط المدفوعة بعد خصم مصاريف الاصدار  والاجراءات الطبية ان وجدت.</td>
                            </tr>
                        </table>
                        <table class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside">
                            <tr class="table-header-green white-text-color">
                                <td>ملخص الشروط العامة</td>
                            </tr>
                            <tr class="table-content non-top-border">
                                <td></br></br></br></td>
                            </tr>
                        </table>
                        <!--end product summary-->

                        <table class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside" style="margin-top: 15px !important;">
                            <tr class="table-header-black white-text-color text-align-right">
                                <td style="width:100%;">الاجراءات الطبية</td>
                            </tr>
                            <tr class="table-content non-top-border text-align-center">
                                <td>.الاجراءات الطبية وفقا للسياسة الاكتتابية للشركة</td>
                            </tr>
                        </table>

                        <!--start signature-->
                        <table style="margin-top: 15px !important;"
                               class="format-table-all-new format-table-layout-fixed arabic-style avoid-break-inside">
                            <tr class="table-header-black white-text-color text-align-center">
                                <td style="border-right: 2px solid white !important;">مسوق التأمين</td>
                                <td style="border-right: 2px solid white !important;">المؤمن عليه</td>
                                <td>المتعاقد</td>
                            </tr>
                            <tr class="table-content non-top-border text-align-center">
                                <td>
                                    <span ng-if="data.licenseFlag == 'true'">{{data.account.fullName}}</span>
                                    <span ng-if="data.licenseFlag != 'true'">{{data.managerName}}</span>
                                </td>
                                <td>{{data.quotation.lifeInsured[0].person.name.full}}</td>
                                <td>{{data.quotation.policyOwner.person.name.full}}</td>
                            </tr>
                            <tr style="height:90px;" class="table-content text-align-center">
                                <td></br></td>
                                <td></br></td>
                                <td></br></td>
                            </tr>
                        </table>
                        <!--end signature-->
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <footer>
                        <div class="foot">
                            <img class="foot-img" src="../../common/images/misr-footer1.png" alt=""/>
                        </div>
                    </footer>
                </td>
            </tr>
            </tfoot>
        </table>
    </body>
</html>