.body-new {
    font-family: 'Segoe UI', sans-serif !important;
    padding-left: 12.7mm !important;
    padding-right: 12.7mm !important;
    width: 210mm !important;
}
.page,
.last-page {
    position: relative;
    height: 100%;
    width: 100%;
}

.pageHeader {
    text-align: center;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        -print-color-adjust: exact;
    }

    table {
        page-break-inside: auto;
    }

    ul,
    img,
    .avoid-break-inside {
        break-inside: avoid !important;
        page-break-inside: avoid !important;
    }


    .page {
        overflow: auto;
        page-break-after: always;
    }

    .page:last-child {
        page-break-after: auto;
    }

    .header {
        width: 100%;
        top: 0;
    }

    .foot {
        bottom: 0;
        position: fixed;
    }

    footer {
        margin-top: 29mm !important;
    }
}

.head-new {
    text-align: right;
    height: 38mm !important;
    margin-bottom: 5mm;
}
.header-img {
    margin-top: 12.7mm;
    height: 25.3mm;
    width: auto;
}
table {
    width: 100%;
    border: 1px solid #000;
    font-size: 10pt;
}

table td {
    padding: 0.25em;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}
footer {
    text-align: center;
    padding-top: 1em;
}
.foot {
    text-align: left;
    height: 29mm !important;
}

.foot-img {
    margin-bottom: 12.7mm;
    height: 16.3mm;
    width: auto;
}