<div>
    <table style="border: 1px solid;">
        <tr>
            <td style="float: left;">
                <div style="padding-top: 5px; padding-left: 5px; padding-bottom: 3px">
                    <img src="../../common/images/misr-logo-3.png" alt="" />
                </div>
                <div style="border-bottom: none !important; width: 104%; height: 4px; border: 1px solid; background-color: #C1D69A !important;">
                </div>
            <td>
            <td style="border: 1px solid;">
                <table>
                    <tr>
                        <td>
                            <div style="font-weight: bold; padding-bottom: 9px;font-size: 12pt;text-align: center;">Direct Debit Mandate (Fixed Installment)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="font-weight: bold; padding-top: 5px; text-align: center; border-top: 1px solid; padding-bottom: 5px; border-bottom: 1px solid;">تفويض بالخصم المباشر (نموذج أقساط محددة القيمة)</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 7px;">
                            <div style="font-weight: bold; text-align: center">Mandate Reference – to be completed by Mandate Processor</div>
                            <div style="font-weight: bold; text-align: center">مرجع التفويض – يستكمل بواسطة مشغل بيانات التفويضات</div>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="float: right;">
                <div style="padding-bottom: 3px; padding-top: 7px; padding-right: 14px;">
                    <img src="../../common/images/EG-ACHM.png" alt="" />
                </div>
                <div style="border-bottom: none !important; margin-left: -7px; width: 105%; height: 4px; border: 1px solid; background-color: #C1D69A !important;">
                </div>
            <td>
        </tr>
    </table>
    <table class="avoid-break-inside">
        <tr>
            <td style="background-color: #C1D69A !important;" class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div style="padding-bottom: 4%; padding-right: 5%;">
                    <img class="imagesACHM" src="../../common/images/ACHM.png" alt="" />
                </div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div style="padding-bottom: 4%; padding-right: 3%; padding-left: 3%;">
                    <img class="imagesACHM" src="../../common/images/ACHM.png" alt="" />
                </div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div style="padding-bottom: 4%; padding-right: 2%; padding-left: 3%;">
                    <img class="imagesACHM" src="../../common/images/ACHM.png" alt="" />
                </div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td class="ACHM-1">
                <div style="padding-bottom: 4%; padding-right: 5%;">
                    <img class="imagesACHM" src="../../common/images/ACHM.png" alt="" />
                </div>
            </td>
            <td class="ACHM-1">
                <div></div>
            </td>
            <td style="background-color: #C1D69A !important;" class="ACHM-1">
                <div></div>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="border: 1px solid; width: 2%;">
                <div style="height: 4px; background-color: #C1D69A !important;"></div>
            </td>
            <td style=" border: 1px solid; width: 19%;">
                <div style="height: 4px; background-color: #C1D69A !important;"></div>
            </td>
            <td style="width: 15%;">
                <div style="height: 4px;"></div>
            </td>
            <td style=" border: 1px solid; width: 15%;">
                <div style="height: 4px; background-color: #C1D69A !important;"></div>
            </td>
            <td style=" border: 1px solid; width: 2%;">
                <div style="height: 4px; background-color: #C1D69A !important;"></div>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid; width: 2%;">
                <div style="height: 21px; background-color: #C1D69A !important;"></div>
            </td>
            <td style="border: 1px solid; width: 15%; background-color: white !important;">
                <div style="font-weight: bold; height: 21px; text-align: center;">Irrevocable Mandate</div>
            </td>
            <td style="width: 15%;">
                <div style="height:21px"></div>
            </td>
            <td style="border: 1px solid; width: 15%; background-color: white !important;">
                <div style="font-weight: bold; height: 21px; text-align: center;">تفويض غير قابل للنقض</div>
            </td>
            <td style="border: 1px solid; width: 2%;">
                <div style="height: 21px; background-color: #C1D69A !important;"></div>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="padding-left: 3px;" width="50%">
                <span style="font-weight: bold;">Please complete all fields marked *</span>
            </td>
            <td style="padding-right: 3px; " width="50%">
                <span dir="rtl" style="font-weight: bold; float: right;">الرجاء إستيفاء جميع البيانات المشار أمامها بعلامة *</span>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span style="font-weight: bold;">Customer Information:-</span>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="font-weight: bold; float: right;">بيانات العميل:-</span>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="padding-left: 3px;" width="25%">
                <span>Name:</span>
                <span style="float: right;">*</span>
            </td>
            <td width="50%" style="height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span style="padding: 0px 1rem; float: right;">{{data.application.policyOwnerDetails.proporserInformation.person.basic.name.full}}</span>
            </td>
            <td style="padding-right: 3px;" width="25%">
                <span>*</span>
                <span dir="rtl" style="float: right;">الإسم:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Address:</span>
            </td>
            <td dir="rtl" style="height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span style="padding: 0px 1rem; float: right;">{{data.inputPdf.policyOwner.address[0].fullAddress}}</span>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="float: right;">العنوان:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Mobile/Phone:</span>
            </td>
            <td style="height: 30px; width: 50%;">
                <table>
                    <tr>
                        <td class="number-mobile">{{data.mobileNumber[1]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[2]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[3]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[5]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[6]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[7]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[8]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[9]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[10]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[11]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[12]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[13]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[14]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[15]}}</td>
                        <td class="number-mobile">{{data.mobileNumber[16]}}</td>
                    </tr>
                </table>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="float: right;">رقم الهاتف \ الجوال:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td  style="padding-left: 3px;">
                <span>Email Address:</span>
            </td>
            <td style="text-align: center; height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span>{{data.application.policyOwnerDetails.proporserInformation.person.contacts.email}}</span>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="float: right;">البريد الإلكتروني:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Identification Type:</span>
                <span style="float: right;">*</span>
            </td>
            <td style="height: 30px; width: 50%;">
                <table>
                    <tr>
                        <td style="text-align: center;">National ID</td>
                        <td>
                            <input style="transform: scale(1.5);" type="checkbox" ng-checked="data.application.policyOwnerDetails.proporserInformation.person.basic.idList[0].code == 'E'"/>
                        </td>
                        <td style="text-align: center;">رقم قومي</td>
                        <td style="font-weight: bold; text-align: center;">OR</td>
                        <td style="text-align: center;">Passport</td>
                        <td>
                            <input style="transform: scale(1.5);" type="checkbox" ng-checked="data.application.policyOwnerDetails.proporserInformation.person.basic.idList[0].code != 'E'"/>
                        </td>
                        <td style="text-align: center;">جواز سفر</td>
                    </tr>
                </table>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="float: right;">نوع إثبات الشخصية:</span>
                <span>*</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Identification Number:</span>
                <span style="float: right;">*</span>
            </td>
            <td style="height: 30px; width: 50%;">
                <table>
                    <tr>
                        <td class="number-mobile">{{data.idNumber[1]}}</td>
                        <td class="number-mobile">{{data.idNumber[2]}}</td>
                        <td class="number-mobile">{{data.idNumber[3]}}</td>
                        <td class="number-mobile">{{data.idNumber[4]}}</td>
                        <td class="number-mobile">{{data.idNumber[5]}}</td>
                        <td class="number-mobile">{{data.idNumber[6]}}</td>
                        <td class="number-mobile">{{data.idNumber[7]}}</td>
                        <td class="number-mobile">{{data.idNumber[8]}}</td>
                        <td class="number-mobile">{{data.idNumber[9]}}</td>
                        <td class="number-mobile">{{data.idNumber[10]}}</td>
                        <td class="number-mobile">{{data.idNumber[11]}}</td>
                        <td class="number-mobile">{{data.idNumber[12]}}</td>
                        <td class="number-mobile">{{data.idNumber[13]}}</td>
                        <td class="number-mobile">{{data.idNumber[14]}}</td>
                    </tr>
                </table>
            </td>
            <td style="padding-right: 3px;">
                <span>*</span>
                <span dir="rtl" style="float: right;">رقم إثبات الشخصية:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="padding-left: 3px;" width="50%">
                <span style="font-weight: bold;">Customer Bank Information:-</span>
            </td>
            <td style="padding-right: 3px;" width=50%">
                <span dir="rtl" style="font-weight: bold; float: right;">بيانات البنك الخاص بالعميل:-</span>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; border-bottom: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="padding-left: 3px;" width="25%">
                <span>Bank Account Number:</span>
                <span style="float: right;">*</span>
            </td>
            <td width="50%" style="height: 30px; width: 50%;">
                <table>
                    <tr>
                        <td ng-if="data.accNumber[1] !=''" class="number-account">{{data.accNumber[1]}}</td>
                        <td ng-if="data.accNumber[2] !=''" class="number-account">{{data.accNumber[2]}}</td>
                        <td ng-if="data.accNumber[3] !=''" class="number-account">{{data.accNumber[3]}}</td>
                        <td ng-if="data.accNumber[4] !=''" class="number-account">{{data.accNumber[4]}}</td>
                        <td ng-if="data.accNumber[5] !=''" class="number-account">{{data.accNumber[5]}}</td>
                        <td ng-if="data.accNumber[6] !=''" class="number-account">{{data.accNumber[6]}}</td>
                        <td ng-if="data.accNumber[7] !=''" class="number-account">{{data.accNumber[7]}}</td>
                        <td ng-if="data.accNumber[8] !=''" class="number-account">{{data.accNumber[8]}}</td>
                        <td ng-if="data.accNumber[9] !=''" class="number-account">{{data.accNumber[9]}}</td>
                        <td ng-if="data.accNumber[10] !=''" class="number-account">{{data.accNumber[10]}}</td>
                        <td ng-if="data.accNumber[11] !=''" class="number-account">{{data.accNumber[11]}}</td>
                        <td ng-if="data.accNumber[12] !=''" class="number-account">{{data.accNumber[12]}}</td>
                        <td ng-if="data.accNumber[13] !=''" class="number-account">{{data.accNumber[13]}}</td>
                        <td ng-if="data.accNumber[14] !=''" class="number-account">{{data.accNumber[14]}}</td>
                        <td ng-if="data.accNumber[15] !=''" class="number-account">{{data.accNumber[15]}}</td>
                        <td ng-if="data.accNumber[16] !=''" class="number-account">{{data.accNumber[16]}}</td>
                        <td ng-if="data.accNumber[17] !=''" class="number-account">{{data.accNumber[17]}}</td>
                        <td ng-if="data.accNumber[18] !=''" class="number-account">{{data.accNumber[18]}}</td>
                        <td ng-if="data.accNumber[19] !=''" class="number-account">{{data.accNumber[19]}}</td>
                        <td ng-if="data.accNumber[20] !=''" class="number-account">{{data.accNumber[20]}}</td>
                        <td ng-if="data.accNumber[21] !=''" class="number-account">{{data.accNumber[21]}}</td>
                        <td ng-if="data.accNumber[22] !=''" class="number-account">{{data.accNumber[22]}}</td>
                        <td ng-if="data.accNumber[23] !=''" class="number-account">{{data.accNumber[23]}}</td>
                        <td ng-if="data.accNumber[24] !=''" class="number-account">{{data.accNumber[24]}}</td>
                        <td ng-if="data.accNumber[25] !=''" class="number-account">{{data.accNumber[25]}}</td>
                        <td ng-if="data.accNumber[26] !=''" class="number-account">{{data.accNumber[26]}}</td>
                        <td ng-if="data.accNumber[27] !=''" class="number-account">{{data.accNumber[27]}}</td>
                        <td ng-if="data.accNumber[28] !=''" class="number-account">{{data.accNumber[28]}}</td>
                        <td ng-if="data.accNumber[29] !=''" class="number-account">{{data.accNumber[29]}}</td>
                        <td ng-if="data.accNumber[30] !=''" class="number-account">{{data.accNumber[30]}}</td>
                    </tr>
                </table>
            </td>
            <td style="padding-right: 3px;" width="25%">
                <span>*</span>
                <span dir="rtl" style="float: right;">رقم الحساب البنكي</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Bank Name:</span>
                <span style="float: right;">*</span>
            </td>
            <td dir="rtl" style="height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span style="padding: 0px 1rem;">{{data.inputPdf.paymentDetails.arBankName}}</span>
            </td>
            <td style="padding-right: 3px;">
                <span>*</span>
                <span dir="rtl" style="float: right;">إسم البنك:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;">
                <span>Bank Branch:</span>
            </td>
            <td dir="rtl" style="height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span style="padding: 0px 1rem;">{{data.inputPdf.paymentDetails.arBankBranch}}</span>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="float: right;">فرع البنك:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;" width="25%">
                <span style="font-weight: bold;">Biller Reference:-</span>
            </td>
            <td  width="50%" style="text-align: center; height: 30px; width: 50%; background-color: white !important; border: 1px solid;">
                <span>{{data.application.documentRelation.productCurrencyCase}}</span>
            </td>
            <td style="padding-right: 3px;" dir="rtl" width="25%">
                <span style="font-weight: bold;">مرجع مقدم الخدمة:-</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important; border-top: 1px solid;">
        <tr>
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <span style="font-weight: bold;">Debtor Instruction to the Bank:-</span>
            </td>
            <td style="padding-right: 3px;" width="50%">
                <span dir="rtl" style="font-weight: bold; float: right;">تعليمات المدين للبنك:-</span>
            </td>
        </tr>
        <tr>
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <span>I authorize you to pay Direct Debits from my account at the request of biller</span>
            </td>
            <td style="padding-right: 3px;" width="50%">
                <span dir="rtl" style="float: right;">أفوضكم أنا الموقع ادناه بالخصم المباشر من حسابي وذلك عند الطلب من مقدم الخدمة</span>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="text-align: center;" width="25%">
                <span style="font-weight: bold; text-align: center;">*Biller Name*</span>
            </td>
            <td dir="rtl" width="50%" style="height: 30px; width: 50%; background-color: white !important; border: 1px solid !important;">
                <span style="padding: 0px 1rem; text-align: center;">شركة مصر لتأمينات الحياة</span>
            </td>
            <td dir="rtl" style="text-align: center;" width="25%">
                <span style="font-weight: bold;">*إسم مقدم الخدمة*</span>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr style="height: 5px">
            <td style="border-right: 1px solid;"></td>
            <td></td>
        </tr>
        <tr>
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <span>Subject to EG-ACH Direct Debit Scheme and all terms and conditions on the back of this mandate.</span>
            </td>
            <td style="padding-right: 3px;" width="50%">
                <span dir="rtl" style="float: right;">على أن يكون ذلك طبق ا لأنظمة الخصم المباشر وبعد الإطلاع على كافة الشروط والأحكام الموضحة خلف هذا التفويض.</span>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 3px; border-right: 1px solid;">
                <span style="font-weight: bold;">Direct Debit Information:-</span>
            </td>
            <td style="padding-right: 3px;">
                <span dir="rtl" style="font-weight: bold; float: right;">بيانات الخصم المباشر:-</span>
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid;">
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="45%">
                            <span>Payment Frequency:</span><br>
                            <span>Payment amount:</span><br>
                            <span>Mandate Expiration date:</span>
                        </td>
                        <td width="50%" style="text-align: center; border: 1px solid; background-color: #CCCCCC !important;">
                            <span style="padding: 0px 0rem; font-weight: bold;">According to The Signed Contract Terms and Condition Between The Customer and The Service Provider</span>
                        </td>
                        <td width="5%"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td width="5%"></td>
                        <td width="50%" style="padding: 2rem 0rem; text-align: center; border: 1px solid; background-color: #CCCCCC !important;">
                            <span style="padding: 0px 0px; font-weight: bold;">طبقا لشروط واحكام العقد الموقع من العميل ومقدم الخدمة</span>
                        </td>
                        <td style="padding-right: 3px;" swidth="45%">
                            <span dir="rtl" style="float: right;">تكرار السداد:</span><br>
                            <span dir="rtl" style="float: right;">مبلغ الخصم:</span><br>
                            <span dir="rtl" style="float: right;">تاريخ نهاية سريان التفويض:</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td style="border-right: 1px solid;"></td>
            <td></td>
        </tr>
        <tr>
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <span style="font-weight: bold;">I Shall:-</span>
            </td>
            <td style="padding-right: 3px;" width="50%">
                <span dir="rtl" style="font-weight: bold; float: right;">وأتعهد بالتالى:-</span>
            </td>
        </tr>
        <tr>
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <div>- Not cancel this Mandate without mutual agreement with the biller.</div>
                <div>- Retain sufficient funds in my account to service this Direct Debit.</div>
            </td>
            <td style="padding-right: 3px;" width="50%">
                <div dir="rtl" style="float: right;">- عدم إلغاء هذا التفويض إلا بموافقة مقدم الخدمة.</div>
                <div dir="rtl" style="float: right;">- لاحتفاظ بمبلغ فى حسابى يكفى لتغطية مستحقات خدمة الخصم المباشر.</div>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-bottom: 1px solid; border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td width="35%">
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="90%">
                            <span style="font-weight: bold;">Customer Authorized Signature at the Bank:</span>
                        </td>
                        <td width="10%">
                            <span style="float: right;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="30%">
                            <span style="font-weight: bold;">Date:</span>
                        </td>
                        <td width="50%" style="text-align: center; border: 1px solid; background-color: white !important;">
                            <span dir="ltr">{{data.currentDate | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td width="20%">
                            <span style="float: right;">*</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" style="height: 40px; background-color: white !important; border: 1px solid;">
                <span style="text-align: center;"></span>
            </td>
            <td width="35%">
                <table>
                    <tr>
                        <td width="50%">
                            <span dir="rtl">*</span>
                        </td>
                        <td style="padding-right: 3px;" width="50%">
                            <span dir="rtl" style="font-weight: bold; float: right;">توقيع العميل المعتمد لدي البنك :</span>
                        </td>
                    </tr>
                    <tr style="height: 5px">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="20%">
                            <span dir="rtl">*</span>
                        </td>
                        <td width="50%" style="text-align: center; border: 1px solid; background-color: white !important;">
                            <span dir="rtl">{{data.currentDate | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td style="padding-right: 3px;" width="30%">
                            <span dir="rtl" style="font-weight: bold; float: right;">التاريخ:</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr style="border-top: 1px solid;">
            <td width="50%" style="padding-left: 3px; border-right: 1px solid;">
                <span style="font-weight: bold; text-decoration: underline;">Bank Use Only</span>
                <span>(All fields are mandatory)</span>
            </td>
            <td style="padding-right: 3px; float: right;">
                <span>(كافة الحقول إلزامية)</span>
                <span style="font-weight: bold; text-decoration: underline;">لإستخدام البنك فقط</span>
            </td>
        </tr>
        <tr>
            <td width="50%" style="border-right: 1px solid;">
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="40%">
                            <span>Mandate Status:-</span>
                        </td>
                        <td width="30%">
                            <span style="font-weight: bold;">1. Accepted</span>
                        </td>
                        <td style="background-color: white !important; border: 1px solid;" width="10%"></td>
                        <td width="20%"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td width="20%">
                        </td>
                        <td style="background-color: white !important; border: 1px solid;" width="10%"></td>
                        <td width="30%">
                            <span dir="rtl" style="font-weight: bold; float: right;">1. مقبول</span>
                        </td>
                        <td style="padding-right: 3px;" width="40%">
                            <span dir="rtl" style="float: right;">حالة التفويض:-</span>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td style="border-right: 1px solid;"></td>
            <td></td>
        </tr>
        <tr>
            <td width="50%" style="border-right: 1px solid;">
                <table>
                    <tr>
                        <td width="40%">
                        </td>
                        <td width="30%">
                            <span style="font-weight: bold;">2. Rejected</span>
                        </td>
                        <td style="background-color: white !important; border: 1px solid;" width="10%"></td>
                        <td width="20%"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td width="20%">
                        </td>
                        <td style="background-color: white !important; border: 1px solid;" width="10%"></td>
                        <td width="30%">
                            <span dir="rtl" style="font-weight: bold; float: right;">2. مرفوض</span>
                        </td>
                        <td width="40%">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td style="border-right: 1px solid;"></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr style="height: 35px;">
            <td style="padding-left: 3px;" width="25%">
                <span>Reason for Rejection:</span>
            </td>
            <td width="50%" style="background-color: white !important; border: 1px solid;">
                <span></span>
            </td>
            <td style="padding-right: 3px;" width="25%">
                <span dir="rtl" style="float: right;">سبب الرفض:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style="padding-left: 3px;" width="25%">
                <span>Input By:</span>
            </td>
            <td width="50%" style="background-color: white !important; border: 1px solid;">
                <span></span>
            </td>
            <td style="padding-right: 3px;" width="25%">
                <span dir="rtl" style="float: right;">إسم مدخل البيانا:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td width="35%">
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="50%">
                            <span>Checker Signature:</span>
                        </td>
                        <td width="45%">
                            <span></span>
                        </td>
                        <td width="5%">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left: 3px;">
                            <span>Date:</span>
                        </td>
                        <td style="text-align: center; background-color: white !important; border: 1px solid;">
                            <span>&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" style="height: 40px; background-color: white !important; border: 1px solid;">
                <span></span>
            </td>
            <td width="35%">
                <table>
                    <tr>
                        <td width="5%">
                            <span></span>
                        </td>
                        <td width="45%">
                            <span></span>
                        </td>
                        <td style="padding-right: 3px;" width="50%">
                            <span dir="rtl" style="float: right;">توقيع أول:</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span></span>
                        </td>
                        <td style="text-align: center; background-color: white !important; border: 1px solid;">
                            <span>&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td style="padding-right: 3px;">
                            <span dir="rtl" style="float: right;">: التاري</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td style="padding-left: 3px;" width="25%">
                <span>Verified By:</span>
            </td>
            <td width="50%" style="background-color: white !important; border: 1px solid;">
                <span></span>
            </td>
            <td style="padding-right: 3px;" width="25%">
                <span dir="rtl" style="float: right;">مراجع صحة البيانا:</span>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important;">
        <tr>
            <td width="35%">
                <table>
                    <tr>
                        <td  style="padding-left: 3px;" width="55%">
                            <span>Confirmer Signature:</span>
                        </td>
                        <td width="40%">
                            <span></span>
                        </td>
                        <td width="5%">
                            <span></span>
                        </td>
                    </tr>
                    <tr style="height: 5px">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td  style="padding-left: 3px;">
                            <span>Date:</span>
                        </td>
                        <td style="text-align: center; background-color: white !important; border: 1px solid;">
                            <span>&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" style="height: 40px; background-color: white !important; border: 1px solid;">
                <span></span>
            </td>
            <td width="35%">
                <table>
                    <tr>
                        <td width="5%">
                            <span></span>
                        </td>
                        <td width="45%">
                            <span></span>
                        </td>
                        <td  style="padding-right: 3px;"width="50%">
                            <span dir="rtl" style="float: right;">توقيع ثاني:</span>
                        </td>
                    </tr>
                    <tr style="height: 5px">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span></span>
                        </td>
                        <td style="text-align: center; background-color: white !important; border: 1px solid;">
                            <span>&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>/</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                        </td>
                        <td  style="padding-right: 3px;">
                            <span dir="rtl" style="float: right;">التاري:</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important; border-top: 1px solid;">
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="font-weight: bold; float: right;">الشروط والأحكام الخاصة بخدمة الخصم المباشر (EG-ACH)- التفويضات الغير قابلة للنقض:-</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">
                    أقر إنني قد اطلعت علي الشروط والأحكام العامة لخدمة الخصم المباشر من خلال غرفة المقاصة الآلية، كما أوافق والتزم بهذه البنود والشروط، وأي تعديلات قد تطرأ عليها لاحقا ، وبتوقيعي علي هذا التفويض فقد قبلت كافة الشروط والأحكام الخاصة بخدمة الخصم المباشر من خلال غرفة المقاصة الآلية، وأقبل ما يترتب عليها من عمليات يتم خصمها علي الحساب، وأن كافة البيانات الواردة بالتفويض حقيقية وصحيحة.
                </span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="float: right; padding-right: 3px;">
                <span>&#8226;</span>
                <span style="font-weight: bold;">تعريفات</span>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 3px;">
                <span style="float: right;" dir="rtl">1. خدمة الخصم المباشر من خلال غرفة المقاصة الآلية هي خدمة تستطيع من خلالها تفويض بنكك بالخصم من حسابك لصالح احد الشركات (الشركة مصدرة الفاتورة) لتحصيل مستحقاتها بطريقة دورية.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">2. شركة بنوك مصر للتقدم التكنولوجي هي الشركة المفوضة من جانب البنك المركزي المصري، والمسئولة عن تشغيل خدمة الخصم المباشر بمنظومة غرفة المقاصة الآلية EG-ACH، ونظام إدارة التفويضات بالخصم المباشر طبق ا للقواعد والأحكام المنظمة لهذه الخدمة، وبما يتوافق مع تعليمات وقواعد البنك المركزي المصري.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">3. العميل: عميل البنك الذي يريد دفع مستحقاته بصفه دورية سواء متغيرة القيمة أو ثابتة القيمة، ومحرر هذا التفويض الكتابي لصالح منشئ عملية الخصم (الشركة مصدرة الفاتورة)، و بموجب هذاالتفويض يتم خصم قيم المستحقات علي حسابه البنكي.</span>
            </td>
        </tr>
        <tr>
            <td  dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">4. بنك العميل: البنك الذي يحتفظ بحساب العميل والمحرر له هذا التفويض.</span>
            </td>
        </tr>
        <tr>
            <td  dir="rtl" style="padding-right: 3px;">
                <span style="float: right;" dir="rtl">5. التفويض: الأمر الكتابي الذي يحرره العميل لبنكه، بغرض التفويض بالخصم علي حسابه البنكي لصالح المستفيد المحرر له التفويض، منشئ عملية الخصم (الشركة مصدرة الفاتورة).</span>
            </td>
        </tr>
        <tr>
            <td  dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">6. منشئ عملية الخصم (الشركة مصدرة الفاتورة): الجهات التي سيصير تحصيل مستحقات لها بصفه دورية، سواء كانت متغيرة القيمة أو ثابتة القيمة، والتي يدون إسمها بخانة مقدم الخدمةبالتفويض.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="float: right; padding-right: 3px;">
                <span>&#8226;</span>
                <span style="font-weight: bold;">شروط عامة</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">1. يعتبر نموذج توقيع العميل المبلغ للبنك والساري المفعول وقت التصديق علي التفويض أساس ا للتعامل به.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">2. يقر العميل )مستخدم الخدمة( بأن كافة المبالغ المخصومة من حساباته، والمحولة إلي منشئ عملية الخصم (الشركة مصدرة الفاتورة) تمثل سدادا لمستحقات عن معاملات مشروعة.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">3. يقر العميل (مستخدم الخدمة) بالتوقيع على هذا التفويض بنفسه دون استخدام أي نوع من أنواع التوكيلات.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">4. البنك غير مسؤول عن العلاقة التعاقدية بين العميل والشركة مصدرة الفاتورة.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">5. يحق للعميل طلب إلغاء هذا التفويض أو الإعتراض علي آية معاملات بالخصم علي حسابه على ألا يسري مفعول الطلب إلا بعرضه من خلال بنك العميل علي شركة بنوك مصر للتقدمالتكنولوجي، لتقوم بدورها بحكم كونها المشغل العام للنظام، بدراسة اسباب الطلب أو الإعتراض التي يقدمها العميل لبنكه، مشفوعة بالمستندات المؤيدة لها، ويكون قرار شركة بنوك مصر نهائياوملزما لكافة الأطراف.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">6. للبنك الحق في فرض رسوم مقابل تنفيذ عمليات الخصم المباشر وذلك وفقا للتسعيرة الخاصة بكل بنك.</span>
            </td>
        </tr>
        <tr>
            <td dir="rtl" style="padding-right: 3px;">
                <span style="float: right;">7. لشركة بنوك مصر للتقدم التكنولوجي الحق في تعديل هذه الشروط في أي وقت وذلك فور إخطار كافة أطراف منظومة الخصم المباشر بالتعديلات وتاريخ تفعيلها.</span>
            </td>
        </tr>
    </table>
    <table class="avoid-break-inside" style="border-right: 1px solid; border-left: 1px solid; background-color: #C1D69A !important; border-top: 1px solid; border-bottom: 1px solid;">
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td width="35%">
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="90%">
                            <span style="font-weight: bold;">Customer Authorized Signature at the Bank:</span>
                        </td>
                        <td width="10%">
                            <span style="float: right;">*</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td style="padding-left: 3px;" width="30%">
                            <span style="font-weight: bold;">Date:</span>
                        </td>
                        <td width="50%" style="text-align: center; border: 1px solid; background-color: white !important;">
                            <span dir="ltr">{{data.currentDate | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td width="20%">
                            <span style="float: right;">*</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" style="height: 40px; background-color: white !important; border: 1px solid;">
                <span style="text-align: center;"></span>
            </td>
            <td width="35%">
                <table>
                    <tr>
                        <td width="50%">
                            <span dir="rtl">*</span>
                        </td>
                        <td style="padding-right: 3px;" width="50%">
                            <span dir="rtl" style="font-weight: bold; float: right;">توقيع العميل المعتمد لدي البنك :</span>
                        </td>
                    </tr>
                    <tr style="height: 5px">
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="20%">
                            <span dir="rtl">*</span>
                        </td>
                        <td width="50%" style="text-align: center; border: 1px solid; background-color: white !important;">
                            <span dir="rtl">{{data.currentDate | date:'dd/MM/yyyy'}}</span>
                        </td>
                        <td style="padding-right: 3px;" width="30%">
                            <span dir="rtl" style="font-weight: bold; float: right;">التاريخ:</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 5px">
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>