<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="../../common/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../common/css/pdf_EG-ACHM.css" rel="stylesheet">
    <link href="../../common/css/segoeui-font.css" rel="stylesheet" type="text/css">
    <script src="../../common/lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="../../common/lib/canvas/canvasjs.min.js" type="text/javascript"></script>
    <script src="../../common/js/directive/others_pdf_directive.js" type="text/javascript"></script>
    <script src="../../common/js/pdf_EG-ACHM.js" type="text/javascript"></script>
    <script src="../../common/lib/angular/angular.js" type="text/javascript"></script>
    <script src="../../common/lib/angular-translate/dist/angular-translate.js" type="text/javascript"></script>
    <script src="../../common/lib/angular/angular-route.js" type="text/javascript"></script>
    <script src="../../common/lib/filters/filters.js" type="text/javascript"></script>
    <script src="../../common/lib/moment/moment.js" type="text/javascript"></script>
    <script src="../../common/lib/loader-static-files/angular-translate-loader-static-files.js" type="text/javascript"></script>
</head>

<body class="body-new" ng-app="mainApp" ng-controller="Ctrl">
    <table>
        <thead class="header-space">
        <tr>
            <td>
                <header>
                    <div style="margin-top: 20px;">
                    </div>
                </header>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <method-mandate></method-mandate>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <footer>
                    <div>
                        <span style="float: left;">EG-ACH - Direct Debit Irrevocable Mandate (Fixed Installment)</span>
                        <span style="float: right;">Version: v3.4</span>
                    </div>
                </footer>
            </td>
        </tr>
        <tr style="height: 10px;">
            <td></td>
        </tr>
        </tfoot>
    </table>
</body>
</html>